
 .center-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.my-form {
    padding: 20px;
    border-radius: 5px;
    width: 600px;
}

.hide-element{
    display: none;
}

.show-element{
    display: block;
}

.form-group{
    height: 120px;
}