<div class="center-container">
    <form [formGroup]="LoginForm"  class="my-form p-3">
        <h1 class="mt-2 text-center align-from-top">Login</h1>
          <div class="form-group p-1">
            <label for="name" class="m-2">Email</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="userEmail">
            <div *ngIf="userEmail && userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="text-danger">
              <div class="mx-2" *ngIf="userEmail.errors?.['required']">
                Email is required.
              </div>
              <div class="mx-2" *ngIf="userEmail.errors?.['email']">
                email is not valid.
              </div>
            </div>
          </div>
          <div class="form-group p-1">
            <label for="password" class="m-2">Password</label>
            <input type="email" class="form-control" id="age" placeholder="Enter your age" formControlName="userPassword">
            <div *ngIf="userPassword && userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="text-danger">
              <div class="mx-2" *ngIf="userPassword.errors?.['required']">
                Password is required.
              </div>
            </div>
          </div>
          <div class="card-body" *ngIf="errorArray.length > 0">
            <ul *ngFor="let i of errorArray">
              <li class="card-text text-danger">{{i}}</li>
            </ul>
          </div>
       <div class="button-align">
        <div class="container text-center pos-1">
          <input mat-raised-button class="btn btn-primary mx-3" type="button" value="SignIn" (click)="SignIn()">
           <a [routerLink]="['/register']" class="signUp">Or SignUp</a> 
        </div>
        <div class="container text-center fit-icons">
          <i class="fa fa-facebook-official size-icon" aria-hidden="true"></i>
          <i class="fa fa-twitter size-icon" aria-hidden="true"></i>
          <i class="fa fa-google size-icon" aria-hidden="true"></i>
        </div>
       </div>
      </form>
</div>

