.mat-mdc-raised-button:not(:disabled) {
    background-color: rgb(180, 3, 3);
}

.wrapper{
  width: 70% !important;
  margin: auto;
}

.flex-own{
  display: flex;
  justify-content: center;
  padding: 10px;
}
  
.wrapper table th{
  color: #f9f7fd;
  background-color: #3f51b5;
}

/* .mdc-data-table__pagination-total, .mdc-data-table__pagination-rows-per-page-label, .mdc-data-table__cell{
  color: grey !important;
} */

.wrapper table tr:nth-child(even){
  background-color: rgb(245, 245, 245);
}