<!-- <h1>
  {{listOfStudents | json}}
</h1>
<h1>
  <button (click)="Post()">POST</button>
</h1>
<h1>
  <button (click)="Put()">PUT</button>
</h1>
<h1>
  <button (click)="Delete()">Delete</button>
</h1> -->
<!-- <app-student></app-student> -->
<!-- <h1>{{pageTitle}}</h1>

<h1 [hidden]="false">{{pageTitle}}</h1>

<button (click)="incr()">click</button>

<h1 [hidden]="false">{{count}}</h1>

Name 
<input type="text" [(ngModel)] = "name">

<h1>{{name}}</h1>
 -->
<!-- --two way spliter
<input type="text" [ngModel] = "name" (ngModelChange)="alerts($event)">

<h1>{{name}}</h1> -->
<!-- <app-dash-borad></app-dash-borad> -->
<!-- <h1>{{title}}<h1>
<h1 [hidden]="boolean">It wil Show</h1>
<button (click)="print()">Click</button>

<label>Type here</label>
-- no need of createing any event separtely
<input type="text" [(ngModel)] = "names"> -->
<!-- <input type="text"  [ngModel] = "names" (ngModelChange)="logics($event)"> -->
<!-- --it will split the Event -- it's called spliter
<input type="text" [ngModel] = "names" (ngModelChange)="logics($event)">
<h1>{{names}}</h1>

--using --
<br>
<input #sot type="number">
<button ((load))="open(sot)">Done</button>
--Seting up the Focus For this specific Elements --
<br>
<input #foc type="text">
<app-table></app-table>
<app-error #child [flagValue]="setchildflag" [GetValue]="true" (newEmitter)="greetBind($event)"></app-error>
{{child.names}}
<button (click)="print()">click to Alert</button> -->

<!-- <h1>{{title}}</h1>

<h1 [hidden]="true">This is Shown here</h1>

<button (click)="incr()">click</button>

<h1>{{count}}</h1>

<input type="text" [formControl]="input">

<h1>{{input.value}}</h1> -->

<app-dash-borad></app-dash-borad>

