<div class="center-container-register">
    <form class="my-form-register" [formGroup]="registerForm">
        <h1 class="m-1 text-center">Register</h1>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name" class="m-2">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name">
            <div *ngIf="userName && userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
              <div class="mx-2" *ngIf="userName.errors?.['required']">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="name" class="m-2">Email</label>
            <input type="email" (input)="Emailcheck($event)" class="form-control" id="email" placeholder="Enter your Email" formControlName="email">
            <div *ngIf="userEmail && userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="text-danger">
              <div class="mx-2" *ngIf="userEmail.errors?.['required']">
                Email is required.
              </div>
              <div class="mx-2" *ngIf="userEmail.errors?.['pattern']">
                Email Format is Incorrect.
              </div>
            </div>
            <div class="mx-2 text-danger" *ngIf="ismail">
              User mail is Already Exists
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="name" class="m-2">Password</label>
            <input type="password"  class="form-control" id="password" placeholder="Enter your password" formControlName="password">
            <div *ngIf="userPassword && userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="text-danger">
              <div class="mx-2" *ngIf="userPassword.errors?.['required']">
                Password is required.
              </div>
              <div class="mx-2" *ngIf="userPassword.errors?.['pattern']">
                Password  Atleast have one upper case ,lower case  and special character <br>
                should atleast contains 8 charcater
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="m-2">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" placeholder="Enter your confirm password" formControlName="confirmPassword">
            <div *ngIf="userConfirmPassword && userConfirmPassword.invalid && (userConfirmPassword.dirty || userConfirmPassword.touched)" class="text-danger">
              <div class="mx-2" *ngIf="userConfirmPassword.errors?.['required']">
                Confirm Password is required.
              </div>
              <div class="mt-2" *ngIf="userConfirmPassword.errors?.['pattern']">
                Password  Atleast have one upper case ,lower case  and special character <br>
                should atleast contains 8 charcater
              </div>
            </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name" class="m-2">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Enter your country" formControlName="country">
            <div *ngIf="userCountry && userCountry.invalid && (userCountry.dirty || userCountry.touched)" class="text-danger">
              <div class="mx-2" *ngIf="userCountry.errors?.['required']">
                Country is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputState" class="m-2">Role</label>
            <select id="inputState"  formControlName="role" class="form-control">
              <option selected value="">Choose...</option>
              <option [value]="'User'">User</option>
              <option [value]="'Admin'">Admin</option>
            </select>
          </div>
        </div>
        <div class="form-group">
            <label for="name" class="m-2">Pincode</label>
            <input type="number" class="form-control" id="pincode" placeholder="Enter your pincode" formControlName="pincode">
            <div *ngIf="userPincode && userPincode.invalid && (userPincode.dirty || userPincode.touched)" class="text-danger">
              <div class="mx-2" *ngIf="userPincode.errors?.['required']">
                Pincode is required.
              </div>
            </div>
          </div>
        <button type="submit" class="btn btn-primary mt-2" (click)="SignUp()">Sign in</button>
      </form>
      <div class="card text-white bg-danger mb-3" style="min-width: 25rem;height:350px;" *ngIf="errorArray.length > 0">
        <div class="card-header">Summary of the Form</div>
        <div class="card-body">
          <h5 class="card-title">Error form can't be submitted</h5>
          <ul *ngFor="let i of errorArray">
            <li class="card-text">{{i}}</li>
          </ul>
        </div>
      </div>
</div>




